.git
.gitattributes
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
tests
.github
doc
CAHIER_DES_CHARGES.md
*.md
docker-compose*.yml
.vscode
.idea
.dockerignore

storage/app/public/*
!storage/app/public/.gitignore
storage/app/private/*
!storage/app/private/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore

public/build
public/storage
public/hot
